<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiedu.springbootdemo.dao.mapper.SysConfigMapper">
    <select id="list" resultType="com.jiedu.springbootdemo.dao.SysConfig">
        SELECT * from sys_config
    </select>
</mapper>